@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  font-family: "Outfit", sans-serif;

}

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero{
  background-image: url(bg.avif);
  background-size: cover;
  background-position: center;
  margin-top: 12vh;
}



